.card-header {
  position: relative;
  width: 100%;
  height: 87px;
  font-family: "PP Editorial New";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 87px;
  text-align: center;
  color: #000000;
  margin-top: -10px;
}

.card-info {
  position: relative;
  width: 328.19px;
  height: 36px;
  font-family: "System85 Trial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  /* or 129% */

  text-align: center;
  color: #838078;
  display: flex;
  justify-content: center;
  left: 270px;
}

form {
  display: flex;
  flex-direction: column;

  .input-label {
    position: relative;
    width: 525px;
    font-family: "System85 Trial";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #838078;
    display: flex;
    left: 160px;
    margin-top: 15px;
  }

  input[type="password"] {
    box-sizing: border-box;
    position: relative;
    width: 525px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    padding: 5px 10px;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 14px;
    height: 14px;
    outline: none;
    cursor: pointer;
  }

  input[type="checkbox"]:checked::before {
    content: "\2714";
    display: inline-block;
    color: white;
    background-color: #000000;
    font-size: 12px;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 12px;
    border-radius: 4px;
    position: absolute;
  }

  .input-checkbox {
    margin-top: 30px;
    position: relative;
    display: flex;
    left: 160px;

    label {
      font-family: "System85 Trial";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #838078;
      margin-left: 10px;
    }
  }
}

.info-box {
  width: 525px;
  height: 81px;
  background: #f8f8fa;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 160px;
  margin-top: 25px;

  img {
    padding: 15px;
  }

  .info-details {
    font-family: "System85 Trial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #838078;
    text-align: left;
    padding: 10px 10px 0px 0px;
  }
}

.continue-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
