.wallet-page {
  padding: 0px 15px;

  .wallet-header {
    margin: 0;
  }

  .account-details-sec {
    display: flex;
    align-items: center;
    position: relative;
    top: 80px;

    .account-logo {
      width: 56px;
      height: 56px;
      border-radius: 7.58255px;
    }

    .account-details {
      width: 100%;
      height: 56px;
      padding: 5px 10px;

      .account-name-sec {
        height: 28px;
        width: 100%;
        position: relative;
        top: 0;

        .account-name {
          font-family: "System85 Trial";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 22px;
          display: flex;
          align-items: center;
          letter-spacing: -0.02em;
          color: #000000;

          img {
            margin-left: 5px;
          }
        }
      }

      .account-key-sec {
        height: 28px;
        position: relative;
        bottom: 0;

        .key-address-box {
          height: 23.98px;
          border-radius: 6px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: fit-content;

          span {
            font-family: "System85 Trial";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 11px;
            color: #838078;
            margin: 0px 10px;
          }
        }
      }
    }
  }

  .account-token-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 85px;

    .token-value-text {
      width: 192.51px;
      height: 48px;

      font-family: "System85 Trial";
      font-style: normal;
      font-weight: 400;
      font-size: 47.9212px;
      line-height: 48px;
      /* identical to box height, or 100% */
      letter-spacing: -1.49754px;
      color: #000000;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }

    .buy-send-button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 25px 0px 15px;
    }
  }
}

.blur-background{
    filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
    transform: matrix(1, 0, 0, 1, 0, 0);

    .wallet-header .header {
        .token-details{
            filter: blur(5px);
            background: rgba(0, 0, 0, 0.2);
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        .notification-sec{
            filter: blur(5px);
            background: rgba(0, 0, 0, 0.2);
            transform: matrix(1, 0, 0, 1, 0, 0);
        }
    }
}
