.recovery-card-header {
  position: relative;
  width: 100%;
  height: 87px;
  font-family: "PP Editorial New";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 87px;
  /* identical to box height, or 181% */

  text-align: center;
  color: #000000;
  margin-top: 20px;
}

.recovery-card-info {
  position: relative;
  width: 328.19px;
  height: 36px;
  font-family: "System85 Trial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  text-align: center;
  color: #838078;
  display: flex;
  justify-content: center;
  left: 270px;
  margin-top: -10px;
}

.recovery-card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .recovery-phrase-card {
    box-sizing: border-box;
    width: 524px;
    height: 188px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copy-button {
    box-sizing: border-box;
    width: 169px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      font-family: "System85 Trial";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #000000;
      margin: 0px 10px;
    }
  }

  .recovery-info-box {
    width: 525px;
    height: 81px;
    display: flex;
    background: #f8f8fa;
    border-radius: 7px;
    margin-top: 25px;

    img {
      padding: 15px;
    }

    .info-details {
      font-family: "System85 Trial";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #838078;
      text-align: left;
      padding: 10px 10px 0px 0px;
    }
  }

  .continue-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
